Freastel assignment
[{"id":"eb1199bd.f201c8","type":"inject","z":"dd4a2798.38c518","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":180,"wires":[["ea766330.4f35b","68a221e5.90a22"]]},{"id":"ea766330.4f35b","type":"http request","z":"dd4a2798.38c518","name":"BoltRequest","method":"GET","ret":"txt","url":"https://cloud.boltiot.com/remote/e22c61d8-dd22-4962-87d3-7de0959280eb/analogRead?pin=A0&deviceName=BOLT3639751","tls":"","x":350,"y":180,"wires":[["2ae61996.df5a56"]]},{"id":"2ae61996.df5a56","type":"json","z":"dd4a2798.38c518","name":"","property":"payload","action":"","pretty":false,"x":489,"y":180,"wires":[["498910f7.deb33"]]},{"id":"498910f7.deb33","type":"function","z":"dd4a2798.38c518","name":"","func":"\nmsg.payload = msg.payload.value;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":594,"y":305,"wires":[["aa8221df.a5e4d","bab86f1.dbba49","734999d3.e162d8"]]},{"id":"aa8221df.a5e4d","type":"ui_chart","z":"dd4a2798.38c518","name":"","group":"d01c0c5c.5bc4b","order":1,"width":"6","height":"5","label":"Temperature chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":806,"y":325,"wires":[[],[]]},{"id":"96c4bf44.6ce3e","type":"delay","z":"dd4a2798.38c518","name":"Delay","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":402,"y":363,"wires":[["7f43075b.7a2f18"]]},{"id":"68a221e5.90a22","type":"http request","z":"dd4a2798.38c518","name":"","method":"GET","ret":"txt","url":"https://cloud.boltiot.com/remote/e22c61d8-dd22-4962-87d3-7de0959280eb/digitalWrite?pin=1&state=HIGH&deviceName=BOLT3639751","tls":"","x":228,"y":364,"wires":[["96c4bf44.6ce3e"]]},{"id":"7f43075b.7a2f18","type":"http request","z":"dd4a2798.38c518","name":"","method":"GET","ret":"txt","url":"https://cloud.boltiot.com/remote/e22c61d8-dd22-4962-87d3-7de0959280eb/digitalWrite?pin=1&state=LOW&deviceName=BOLT3639751","tls":"","x":553,"y":364,"wires":[[]]},{"id":"734999d3.e162d8","type":"ui_gauge","z":"dd4a2798.38c518","name":"","group":"d01c0c5c.5bc4b","order":0,"width":0,"height":0,"gtype":"gage","title":"Temp value","label":"units","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":801.0694732666016,"y":415.72222900390625,"wires":[]},{"id":"d01c0c5c.5bc4b","type":"ui_group","z":"","name":"Visualization","tab":"be9156ac.24d2c8","disp":true,"width":"6","collapse":false},{"id":"be9156ac.24d2c8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
